.title {
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 10px;
}

.instructions {
	margin-bottom: 10px;
}


body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.nav-bar {
	margin-top: 8px; 
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.guessed {
	color : green;
	border: 3px double green;
}

.square:focus {
  outline: none;
}

fieldset {
	clear : both;
	padding : 5px;
}

.field-row {
	clear : both;
}
.field-label {
	float : left;
	width : 120px;
}
.field-value {
	float : left;
	width : 200px;
}
